#Noticias {

  color: darkgray;
  text-align: center;

}
#Filtraciones {

  color: darkgray;
  text-align: center;

}
#Novedades {

  color: darkgray;
  text-align: center;
  
}

table {

    width: 70%;

    border-collapse: collapse;

  }

td {

    border: 1px solid white;

  }
.Centrar {

    text-align: center;
  }

.Pie{

  color: white;
  text-align: center;
  background-color: rgb(48, 48, 48);

}
.Sección1 {

  background-color: rgb(0, 0, 55);
  text-align: center;
  padding: 10px;
  
}

.Sección2 {

  background-color: rgb(0, 55, 5);
  text-align: center;
  padding: 10px;
  
}

.Sección3 {

  background-color: rgb(55, 0, 0);
  text-align: center;
  padding: 10px;
  
}
